/*We have section which class is call*/
/*we gave to all section other shade, than also make some border*/

.aboutFrontImage {
	text-align: center;
  padding-top: 100px;
  padding-bottom: 140px;
  background-image: url("https://img-fotki.yandex.ru/get/102548/2008163.34/0_113259_72258780_orig");
  background-size: cover;
  color: white;
}

.call{
	background: #e5e5e5;
	border-bottom: 1px solid #dde3e7;
	padding: 30px 0;
}

.phone{
 width: 455px;
}

/* Here we place our text with it's own paddings*/
.phone__text{
 padding-top: 5px;
 color:	#110c11;
font-size: 14px;
text-transform: uppercase;
width: 180px;
padding-left: 56px;
}


.phone__text span{
	font-size: 16px;
	margin-top: -4px; 
	display: block;
}


.phone__number{
 color:	#14141d;
 font-size: 22px;
 font-weight: 500;
 margin-left: 42px;

}

/* Here we give sizes of our pictures and turn their visability lower to create
 ACTIVE element effect*/
.slide_img{
	width: 200px;
	height: 200px;
	margin-bottom: 10px; 
	border: 1px solid #dde3e7;
	border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
}

