.overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	z-index: 1;
	/*text-align: center;*/
}

.popup {
	position: fixed;
	width: 400px;
	height: 500px;
	left: 50%;
	/*top: 56px;*/
	transform: translate(-50%, 0%);
	/*padding: 40px;*/
	/*box-sizing: border-box;*/
	background-color: white;
	/*color: #000;*/
  	text-align: center;
	/*z-index: 1;*/
}

@media screen and (max-width: 768px) {
	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
	}
}

.popup form {
  	margin-top: 30%;
}