/* fonts */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap&subset=cyrillic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

/* /// body /// */

html, body {
  font-family: 'Nunito', sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.pageBanner {
  margin-bottom: 70px !important;
  padding-top: 100px;
  padding-bottom: 140px;
  background-image: url("../img/product-banners/product-banner-qurt.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
}

/* /// index page /// */

.card {
  border: none;
  background-size: cover;
  height: 500px !important;
  color: #fff;
}

.card-title {
  font-size: 180%;
  font-weight: 600;
}

.card-text {
  font-size: 120%; 
  text-align: justify;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
}

/* /// review block /// */

.review {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.mySlides {
  margin: 0 auto;
  padding: 15px;
  text-align: justify;
  width: 80%;
  background-color: lightgray;
}

.slideButton {
  margin: 20px
}

/* navigation */

div ul li {
  margin: 1px 5px;
}




/* products page */
.jumbotron {
  margin-top: 76px;
  background-size: cover;
  color: white;
}

.contacts {
  font-size: 150%;
}

.md-form {
  padding-bottom: 15px;
}

.jumbotron a {
  text-decoration: none;
  color: #fff;
}

.jumbotron a:hover {
  text-decoration: underline;
}

.cover_info1 {
  max-width: 80%;
  margin: auto;
}
.cover_info1 p {
  font-size: 20px;
  color: rgb(48, 48, 70);
}

.order-section {
  max-width: 40%;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 20px;
}
.order-section a {
  text-decoration: none;
}
.bottom-section {
  margin-top: 10%;
}
