/* fonts */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap&subset=cyrillic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');


/* /// body /// */
html, body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/* /// index page /// */
.frontImage {
    margin-bottom: 70px !important;
    padding-top: 100px;
    padding-bottom: 140px;
    background-image: url("../img/product-banners/product-banner-qurt.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

.card {
    border: none;
    background-size: cover;
    height: 500px !important;
    color: white;
}

.card-title {
    font-size: 180%;
    font-weight: 600;
}

.card-text {
    font-size: 120%; 
    text-align: justify;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    color: #fff;
}
/* /// review block /// */

.review {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mySlides {
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
    width: 80%;
    background-color: lightgray;
}

.slideButton {
    margin: 20px
}

/* products page */
.jumbotron {
    margin-top: 76px;
    background-size: cover;
    color: white;
}

.contacts {
    font-size: 150%;
}

.md-form {
    padding-bottom: 15px;
}